# ==========================
# Python
# ==========================
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# ==========================
# Virtual environments
# ==========================
.venv/
venv/
env/

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# OS files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs and databases
# ==========================
*.log
*.sqlite3
*.db

# ==========================
# Others
# ==========================
*.egg-info/
dist/
build/
